table td {
    word-break: normal !important;
}
img.index-thumb {
    height: 50px;
}
.index-date {
    text-align: right;
}
.side-nav {
    line-height: 0.9;
}
.side-nav li {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}
.nothing-to-list {
    color: #4d8f97;
}